* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: rgb(35, 6, 104);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 1px solid black;
    width: 99.8%;
    background-image: linear-gradient(#000000a1, #00000017, #00000017, rgb(48, 7, 82), #00000017);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    padding: 20px;
    border-bottom: 0.1px solid white;
    background-image: linear-gradient(#000000, #000000, #000000);
}

.logo {
    display: flex;
    align-items: center;
    color: white;

}

.logo img:hover {
    box-shadow: 0 0 10px #45014b, 0 0 15px #70175a, 0 0 20px #3e0355;

}

.nombre-pagina {
    text-shadow: 0 0 10px #0e0808, 0 0 40px #5a335a, 0 0 50px #331181;
    ;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 0 0 10px #796f6f, 0 0 40px #b586c4, 0 0 20px #280775;
}

#botones a :hover {
    box-shadow: 0 0 10px #796f6f, 0 0 40px #272727, 0 0 50px #291033;
    size-adjust: 15px;
}

.nav-link img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px #bba8a8, 0 0 40px #1b1010, 0 0 50px #29213a;
}

.imgusuario {
    margin-right: 0;
}

#contenedor {
    width: 100%;
    margin: 30px auto;
}

/*  header  */

h1 {

    text-align: center;
    color: #000000;
}

header h2 {
    padding: 20px;
    text-align: center;
    color: white;
}

h2.sub {
    padding: 10px;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    vertical-align: bottom;
}


/* barra */

#headerbarra {

    width: 1875px;
    height: 70px;
    padding-left: 18px;

}

ul,
ol {
    list-style: none;
}

#barra li a {
    display: block;
    background-color: #000000;
    border-radius: 30px;
    padding: 10px 95px;
    box-shadow: 0 0 10px #dedae6, 0 0 20px #353535;
    color: aliceblue;
    margin-inline: 27px;
    text-shadow: 0 0 10px #726e6e;
    font-weight: bold;
    border: 1px solid white;
}

#barra>li {
    float: left;
}

#barra li ul {
    display: none;
    position: absolute;

}

#headerbarra li ul li {
    position: relative;
}

#barra li:hover>ul {
    display: block;
}

#barra a:hover {
    color: aliceblue;
    box-shadow: 0 0 10px #bba8a8, 0 0 40px #a3a3a3, 0 0 50px #331181;
    font-size: 17.2px;
    transition: 0.2s;
}


#barra li ul li ul {
    right: -302px;
    top: 0px;
    text-align: center;
}


main {
    display: flex;
    padding-bottom: 20px;
    margin-left: 10px;
}

/*  aside */
aside {
    width: 25%;
    padding: 20px;

}



/*  aside derecha  */
aside img {
    width: 70%;
    margin: 20px auto;
    display: block;
}

/*  section  */

section {
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

/* card */
.card {
    width: 20%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid#2fb4cc;
    border-radius: 4px;
    transform: translateY(-3%);
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
}


/* footer */
footer {
    background-color: black;
    display: flex;
    height: 70px;
    padding: 20px;
    border-top: 0.1px solid white;
}

footer p {
    width: 90%;
    margin: 30px 20px 30px 20px;
    color: white;
}

footer div {
    margin: 10px;
    display: flex;
}

footer div img {
    margin-inline: 8px;
    border: 1.1px solid rgb(93, 141, 245);
    border-radius: 10px;
}


.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}
















nav .logo {
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 10px;
}

nav {
    height: 70px;
    background: #000000;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
    margin-bottom: 90px;
    padding: 20px;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #000000;
    transition: .5s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #dd6dff;
}

nav ul ul {
    position: absolute;
    top: 85px;
    border-top: 3px solid #dd6dff;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #000000;
    border-top: none;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul {
    border-top: none;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

nav ul ul li a i {
    margin-left: 45px;
}

.logo {
    width: 100px;
    height: 100px;

}



/* EFECTO NEON TITULO*/
.box h2 {
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #bf45f8, 0 0 20px #be32ff, 0 0 40px #be32ff,
        0 0 80px #be32ff, 0 0 120px #be32ff;


}

.box {
    margin-bottom: 55px;
}








/* ASIDE */

.card1 {
    position: relative;
    width: 300px;
    height: 280px;
    margin-top: 20px;
    margin-left: 60px;
}

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card1 .front {
    transform: perspective(600px) rotateY(0deg);
}

.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card1 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a {
    color: #f3f3f3;
}

.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card1 .back p {
    letter-spacing: 1px;
}

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




/* Icon */

.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}




/* Fondo */

:root {
    /* es para activar el modo ascuro*/
    --dark: #242323;
    /* es fondo blanco */
    --light: #d0d0d0;
    /* es la sombra oscura que tenda en fondo blanco*/
    --box-shadow-oscuro: 1px 15px 50px rgba(0, 0, 0, 0.816);
    /* la sombra del primer card en modo oscuro */
    --box-shadow-1: 1px 15px 50px rgba(0, 255, 251, 0.816);
    /* yo aqui tengo el codigo para mas facil */

    /* la sombra del segundo card en modo oscuro */
    --box-shadow-2: 1px 15px 50px rgba(229, 255, 0, 0.85);
    /* la sobra del tercer card en modo oscuro */
    --box-shadow-3: 1px 15px 50px rgba(255, 6, 93, 0.789);
    /* la sombra del boton */
    --box-shadow-boton: -2px -2px 5px #fff, 3px 3px 6px rgba(0, 0, 0, 0.15),
        inset -2px -2px 5px rgba(255, 255, 255, 0.3),
        inset 3px 3px 6px rgba(0, 0, 0, 0.1);

}




/* cuando el body tenga la clase dark se va a cambiar en modo oscuro */
body.dark {
    background: var(--dark);
}


.boton-dark .btn {
    position: relative;
    top: 15px;
    width: 30px;
    height: 30px;
    margin-left: 2%;
    margin-bottom: 35px;
    z-index: 1;
    background: var(--light);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--box-shadow-boton);
    display: grid;
    place-items: center;
    font-size: 1.4rem;
}

.boton-dark .btn:hover {
    transform: scale(0.9);
}

.boton-dark .btn::before {

    content: '\f186';

    font-family: fontAwesome;
    color: #000;
}

body.dark .boton-dark .btn::before {
    content: '\f185';
    font-family: fontAwesome;
}



.container {
    margin: 35px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titlogo {
    color: white;
    font-size: 40px;
    margin-left: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px #bf45f8, 0 0 20px #bf45f8, 0 0 40px #bf45f8;
}

.titlogo:hover {
    text-shadow: 0 0 10px #bf45f8, 0 0 20px #bf45f8, 0 0 40px #bf45f8,
        0 0 80px #bf45f8, 0 0 120px #bf45f8;

}